/*
--breakpoint-xs: 0;
--breakpoint-sm: 576px;
--breakpoint-md: 768px;
--breakpoint-lg: 992px;
--breakpoint-xl: 1200px;
*/

/* Override Bootstrap Defaults */

@import url('https://fonts.googleapis.com/css?family=Merriweather:300,700|Source+Sans+Pro:200,300,600');

.family-sans {
  font-family: "Source Sans Pro";
}

.family-serif {
  font-family: "Merriweather";
}

.font-weight-light {
  font-weight: 100;
}

.site-header {
  background: url(../background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.site-header .site-nav {
  transition: all .5s ease-out;
  background: #800020;
}

.site-header .inbody {
  background: darkgrey;
}

.site-header .jumbotron {
  min-height: 50vh;
  background: transparent;
}

.vertical-padding {
  padding-top: 80px;
  padding-bottom: 80px;
}

#layout-multicolumn {
   background: linear-gradient(white, #800020);
}

#layout-multicolumn .photo-modal {
  transition: all 300ms ease-in-out;
}

#layout-multicolumn .photo-modal:hover {
  transform: scale(1.05) ;
}

#layout-multicolumn .title {
  font-size: .9em;
}

#layout-nested {
  color: green;
}

#layout-contact_me{
  background: darkslateblue;
  color: darkgray;
}

#layout-contact_me .icon {
  font-size: 5rem;
  color: #CC3D61;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

#layout-carousel .fade .carousel-item {
  background: linear-gradient(rgba(0, 0, 0, .50) 50px, transparent),
  url();
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: fadeout 1s;
}

#layout-carousel .fade {
  opacity: 1;
}

#layout-carousel .fade .carousel-item:first-child {
  top: 0;
  opacity: 0;
  position: relative;
}

#layout-carousel .fade .carousel-item.active {
  animation-delay: 0;
  animation: fadein 1s;
}

#layout-carousel .fade .carousel-indicators {
  opacity: 0;
}

#layout-carousel .fade .carousel-control-prev,

#layout-carousel .fade .carousel-control-next {
  opacity: 0;
}

#layout-cards{
  background: darkgreen;
  text-align: center;
}

.footer {
  background: black;
}

.footer a {
  font-size: 3rem;
}


.footer a:first-of-type:hover {
  color: green;
}

.footer p::first-letter {
  color: red;
  font-size: 200%;
}

/* Social Icons */
#social_side_links {
	position: fixed;
  top: 70px;
  left: 0;
  padding: 0;
  list-style: none;
  z-index: 99;
}

#social_side_links li a {display: block;}

#social_side_links li a img {
	display: block;
	max-width:40px;
  padding: 10px;
  -webkit-transition:  background .2s ease-in-out;
  -moz-transition:  background .2s ease-in-out;
  -o-transition:  background .2s ease-in-out;
  transition:  background .2s ease-in-out;
}

#social_side_links li a:hover img {background: rgba(0, 0, 0, .2);}

/* Demo Text */
.demo-text {
	font-family: helvetica, sans-serif;
  font-weight: 100;
  font-size: 30px;
  line-height: 43px;
  color: #444;
  padding: 10px;
}
	.demo-text--special {
		background-color:#A79C8E;
     color: #fff;
     padding: 30px;
}

.demo-text--small {
  font-size: 23px;
  line-height: 37px;
}

h1.demo-text {
  margin: 40px 0 0 0;
  line-height: 0;
  font-size: 50px;
}

a.demo-text {
	text-decoration:none;
  font-size: 20px;
}

body {background-color:#800020;}
